<!DOCTYPE html>
<html lang="en" ng-app="moderatorApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/angular-resource.js"></script>
    <script type="text/javascript" src="js/appName.js"></script>
    <script type="text/javascript" src="js/controllers/reportsANDpoints-controller.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <style>



table, td, th {
    border: 1px solid black;
     word-wrap:break-word;
}
body {
    background-image: url("stylesheets/images/backgroundpage.jpg");
}
</style>
</head>
<nav class="fixed-nav-bar">
  <ul>
  <li><a href="#">Home</a></li>
  <li><a href="review.html">Review</a></li>
  
</ul>
</nav>
<div ng-controller="appController">
        <h1>Report Images</h1>    
    <table  class= "table1" width="80%" align='center'
        style= 'table-layout:fixed'>
        <col width=400>
        <col width=80>
        <col width=80>
        <col width=150>
        <col width=100>
        <col width=100>
        <col width=80>
        <col width=80>
       
        <thead>
                        <th scope="col" abbr="Image">Image</th>
                        <th scope="col" abbr="Index">Index</th>
                        <th scope="col" abbr="ImageId">Image ID</th>
                        <th scope="col" abbr="Location">Location</th>
                        <th scope="col" abbr="Des">Landmark</th>
                        <th scope="col" abbr="Des">Description</th>
                        <th scope="col" abbr="Accept">Accept Image</th>
                        <th scope="col" abbr="Reject">Reject Image</th>
                    </tr>
                </thead>

         <tr ng-repeat="report in reports">

            <td >
            <div class="image-lightbox">
              <img ng-src="images/{{report._id}}.jpg" onerror="this.src='images/Default.jpg'" style="height:300px;width:350px"/></td>
            </div>
            <td>{{$index}}</td>
            <td align="center">{{report._id}}</td>
            <td>{{report.loc}}</td>
            <td>{{report.landmark}}</td>
            <td align="justify">{{report.description}}</td>
              <td><input type="button" value="Remove" ng-click="fail(report)" class="delbutton"></button></td>
            <td><input type="button"  value="Add" ng-click="pass(report)" ></button></td>
 
            
          </tr>
        </table>

        
        
        <!--
        <form ng-submit="createMeetup()">
          <input type="text" placeholder="Meetup name" ng-model="meetupName"></input>
          <button type="submit">Add</button>
        </form>
        --> 
      </div>
     
      
  </body>
    <script src="js/jquery.js"></script>
  <script type="text/javascript">
$(function() {


$(".delbutton").click(function(){

//Save the link in a variable called element
var element = $(this);

//Find the id of the link that was clicked
var del_id = element.attr("id");

//Built a url to send
var info = 'id=' + del_id;
 if(confirm("Sure you want to delete this update? There is NO undo!"))
          {

 
         $(this).parents(".record").animate({ backgroundColor: "#fbc7c7" }, "fast")
        .animate({ opacity: "hide" }, "slow");

 }

return false;

});

});
</script>

</html>
<!--  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>   -->